body {
    font-family: "Consolas";
    font-size: 14px;
}

table {
    table-layout: fixed;
    width: 100%;
}

table, tr, td, th {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    border: 0.1em solid #d6d6d6;
}

th, td {
    position: relative;
    padding: 0.25em 0.5em 0.25em 0.5em;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Path-column {
    width: 20em;
}

.Signers-column {
    width: 34em;
}

#Summary-column, #Name-column, .Other-column {
    width: 10em;
}

#displayOptions {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
}

tr:nth-child(1) {
    position: sticky;
    z-index: 1;
    background-color: #666;
    color: #fff;
}

th {
    background-color: #666;
    color: #fff;
}

td {
    overflow: hidden;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

select {
    width: 6em;
}

th.sticky {
    position: sticky;
    background-color: #666;
    color: #fff;
}

td.sticky {
    position: sticky;
    background-color: inherit;
    color: inherit;
}

.resizer {
    width: 5px;
    height: 100vw;
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
    user-select: none;
}

    .resizer:hover,
    .resizing {
        border-right: 2px solid gray;
    }
